Repository mryhryki/example-changesets, changes with the labels that .github/labeler.yml gives for each.
All labels: release-unit-1, release-unit-2, release-unit-3

.github/labeler.yml:

release-unit-1:
- changed-files:
  - any-glob-to-any-file:
    - 'units/release-unit-1/**'
release-unit-2:
- changed-files:
  - any-glob-to-any-file:
    - 'units/release-unit-2/**'
release-unit-3:
- changed-files:
  - any-glob-to-any-file:
    - 'units/release-unit-3/**'

Update units/release-unit-1/package.json
  units/release-unit-1/package.json
Labels: release-unit-1

Update .github/workflows/production.yaml
  .github/workflows/production.yaml
Labels: none

Update units/release-unit-2/index.ts
  units/release-unit-2/index.ts
Labels: release-unit-2

Update scripts/create-draft-release/index.js
  scripts/create-draft-release/index.js
Labels: none

Update scripts/create-draft-release/index.js
  scripts/create-draft-release/index.js
Labels: none

Add .github/workflows/create-draft-release.yaml
  .github/workflows/create-draft-release.yaml
Labels: none

Update units/release-unit-2/package.json
  units/release-unit-2/package.json
Labels: release-unit-2

Update .github/workflows/create-draft-release.yaml
  .github/workflows/create-draft-release.yaml
Labels: none

Remove the create-draft-release script
  .github/workflows/staging.yaml
  package-lock.json
  package.json
  scripts/create-draft-release/create-draft-release.js
  scripts/create-draft-release/find-latest-release.js
  scripts/create-draft-release/get-pull-requests.js
  scripts/create-draft-release/get-target-commits.js
  scripts/create-draft-release/getInfo.js
  scripts/create-draft-release/index.js
  scripts/create-draft-release/octokit.js
Labels: none

Update .github/workflows/create-draft-release.yaml
  .github/workflows/create-draft-release.yaml
Labels: none

Update units/release-unit-1/package.json
  units/release-unit-1/package.json
Labels: release-unit-1

Update units/release-unit-3/package.json
  units/release-unit-3/package.json
Labels: release-unit-3

Update units/release-unit-2/package.json
  units/release-unit-2/package.json
Labels: release-unit-2

Update .github/workflows/create-draft-release.yaml
  .github/workflows/create-draft-release.yaml
Labels: none

Update .github/workflows/create-draft-release.yaml
  .github/workflows/create-draft-release.yaml
Labels: none

Merge pull request #14 from mryhryki/unit-2-3-verup
  units/release-unit-2/package.json
  units/release-unit-3/package.json
Labels: release-unit-2, release-unit-3

Update .github/workflows/create-draft-release.yaml
  .github/workflows/create-draft-release.yaml
Labels: none

Update units/release-unit-3/package.json
  units/release-unit-3/package.json
Labels: release-unit-3

Update .github/workflows/create-draft-release.yaml
  .github/workflows/create-draft-release.yaml
Labels: none

Update units/release-unit-3/package.json
  units/release-unit-3/package.json
Labels: release-unit-3

Update .github/workflows/create-draft-release.yaml
  .github/workflows/create-draft-release.yaml
Labels: none

Update .github/workflows/create-draft-release.yaml
  .github/workflows/create-draft-release.yaml
Labels: none
